node_modules
# Keep environment variables out of version control
.env

#files of prisma
migrations
dev.db
dev.db-journal

#external files
upload

#endpoits to test
album.http
artist.http
song.http
user.actions.http
user.http
playlist.http

#innecesary docs
dist
